{% extends "layout.html" %}

{% block pageTitle %}
  Search cases
{% endblock %}


{% block content %}
<div class="govuk-width-container">

    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="employees">Employees</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="employee-details">Employee details</a>
        </li>

      </ol>
    </div>

    <div class="govuk-width-container">
    <section class="dwp-key-details-bar" aria-label="Key details">
    <dl class="dwp-key-details-bar__key-details">
        <div class="dwp-key-details-bar__top-block">
            <dt class="govuk-visually-hidden">Name:</dt>
            <dd class="dwp-key-details-bar__name"> Jane Doe</dd>


        </div>
        <div class="dwp-key-details-bar__bottom-block">
            <dt>Staff number:</dt>
            <dd>451972</dd>
            <dt>Position:</dt>
            <dd>Agent</dd>

        </div>
    </dl>
    </section>
    </div>



    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">


            <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
              <nav class="moj-side-navigation" aria-label="Side navigation">
      <h4 class="moj-side-navigation__title">Employee details</h4>
                <ul class="moj-side-navigation__list">

                  <li class="moj-side-navigation__item moj-side-navigation__item--active">
                    <a href="employee-details" aria-current="employee-details">Name</a>
                  </li>
                  <li class="moj-side-navigation__item">
                    <a href="employee-contact-info">Contact information</a>
                  </li>



                  <li class="moj-side-navigation__item">
                    <a href="employee-address">Business address</a>
                  </li>
                  <li class="moj-side-navigation__item">
                    <a href="employee-login">Login</a>
                  </li>
    </ul>

              </nav>
    </aside>
            </div>

        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Login
          </h1>

          <dl class="govuk-summary-list">


            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">
                User ID
              </dt>
              <dd class="govuk-summary-list__value">
        lorem ipsum
              </dd>

            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">
                NISSA Flag
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>

            </div>
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">
              National Sensitivity Access Flag
              </dt>
              <dd class="govuk-summary-list__value">
                No
              </dd>

            </div>
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">
                Staff number
              </dt>
              <dd class="govuk-summary-list__value">
                lorem ipsum
              </dd>

            </div>
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">
            Responsibility
              </dt>
              <dd class="govuk-summary-list__value">
                Lorem Ipsum
              </dd>

            </div>
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">
                Position
              </dt>
              <dd class="govuk-summary-list__value">
              lorem ipsum
              </dd>

            </div>
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">
              External Responsibility
              </dt>
              <dd class="govuk-summary-list__value">
                lorem ipsum
              </dd>

            </div>
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">
                Division
              </dt>
              <dd class="govuk-summary-list__value">
                lorem ipsum
              </dd>

            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
              <dt class="govuk-summary-list__key">
                Position Organisation
              </dt>
              <dd class="govuk-summary-list__value">
                lorem ipsum
              </dd>

            </div>



          </dl>






    </div>


    </div>

    </div>











      

      </div>
      </main>

  </div>

{% endblock %}
