{% extends "layout.html" %}

{% block pageTitle %}
  Admin Home
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Home
    </h1>

    <p>
      You can use this service to:
    </p>


    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Group</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Divisions</a>
      </li>
      <li>
        <a class="govuk-link" href="positions">Positions</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Assignment skills</a>
      </li>
        </ul>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Employees</h3>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="add-new-employee">Add new employee</a>
      </li>


      <li>
        <a class="govuk-link" href="search-employees">Search employees</a>
      </li>
        </ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Skills</h4>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Add skills</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Edit skills</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Search skills</a>
        </li>
        </ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <h5 class="govuk-heading-m govuk-!-margin-bottom-2">Permissions</h5>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Aply user permissions</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Remove user permissions</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Edit user permissions</a>
        </li>
          </ul>



    </div>

  </div>
</div>

{% endblock %}
