{% extends "layout.html" %}

{% block pageTitle %}
  Admin Home
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Topics
    </h1>

    <p>
      You can use this service to:
    </p>


    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Work queues</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Create work queues</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Delete work queues</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Search work queues</a>
      </li>
        </ul>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Users</h3>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Create users</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Delete users</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Edit users</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Search users</a>
      </li>
        </ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <h4 class="govuk-heading-m govuk-!-margin-bottom-2">Skills</h4>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Add skills</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Edit skills</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Search skills</a>
        </li>
        </ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <h5 class="govuk-heading-m govuk-!-margin-bottom-2">Permissions</h5>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Aply user permissions</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Remove user permissions</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Edit user permissions</a>
        </li>
          </ul>



    </div>
    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h6 class="govuk-heading-m govuk-!-margin-bottom-2" id="additional_links">
          Additional
        </h6>
        <nav role="navigation" aria-labelledby="additional_links">
          <ul class="govuk-list ">
            <li>
              <a href="#">
                View service downtime periods
              </a>
            </li>
            <li>
              <a href="#">
                View hierarchies
              </a>
            </li>
            <li>
              <a href="#">
                View number of logged on users
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
</div>

{% endblock %}
