{% extends "layout.html" %}

{% block pageTitle %}
  Cases unassigned
{% endblock %}



{% block content %}

<div class="govuk-width-container">

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>


 <main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


<form action="position-delete-confir" method="post" class="form">





  <div class="govuk-form-group">

<h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
Do you want to make that position primary?

</label>
</h1>
<div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="make-primary" name="make-primary" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="make-primary">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="make-primary-2" name="make-primary" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="make-primary-2">
          No
        </label>
      </div>

    </div>




  <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
    Save and continue
  </button>
</form>

  </div>

</div>

  </main>
  </div>

{% endblock %}
