{% extends "layout.html" %}

{% block pageTitle %}
  Search cases
{% endblock %}


{% block content %}
<div class="govuk-width-container">

    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="employees">Employees</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="employee-details">Employee details</a>
        </li>

      </ol>
    </div>
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
        You deleted employee's [Lorem Ipsum] position
        </h3>
            </div>
    </div>
    <div class="govuk-width-container">
    <section class="dwp-key-details-bar" aria-label="Key details">
    <dl class="dwp-key-details-bar__key-details">
        <div class="dwp-key-details-bar__top-block">
            <dt class="govuk-visually-hidden">Name:</dt>
            <dd class="dwp-key-details-bar__name"> Jane Doe</dd>


        </div>
        <div class="dwp-key-details-bar__bottom-block">
            <dt>Staff number:</dt>
            <dd>451972</dd>
            <dt>Position:</dt>
            <dd>Agent</dd>

        </div>
    </dl>
    </section>
    </div>



    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">


            <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
              <nav class="moj-side-navigation" aria-label="Side navigation">
      <h4 class="moj-side-navigation__title">Employee details</h4>
                <ul class="moj-side-navigation__list">

                  <li class="moj-side-navigation__item moj-side-navigation__item--active">
                    <a href="employee-details" aria-current="employee-details">Name</a>
                  </li>
                  <li class="moj-side-navigation__item">
                    <a href="employee-contact-info">Contact information</a>
                  </li>



                  <li class="moj-side-navigation__item">
                    <a href="employee-address">Business address</a>
                  </li>
                  <li class="moj-side-navigation__item">
                    <a href="employee-login">Login</a>
                  </li>
    </ul>

              </nav>
    </aside>
            </div>

        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Positions
          </h1>

          <dl class="govuk-summary-list">


            <div class="govuk-summary-list__row ">
              <dt class="govuk-summary-list__key">
                Primary position
              </dt>
              <dd class="govuk-summary-list__value">
        Agent
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="change-employee-position">
                  Change<span class="govuk-visually-hidden"> employee primary position</span>
                </a>
              </dd>


            </div>
          </dl>



          <dl class="govuk-summary-list govuk-!-margin-top-7">


            <div class="govuk-summary-list__row ">
              <dt class="govuk-summary-list__key">
                Additional positions
              </dt>
              <dd class="govuk-summary-list__value">
          Team Leader
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="delete-position-employee">
                  Delete<span class="govuk-visually-hidden"> team leader position access</span>
                </a>
              </dd>


            </div>

            <div class="govuk-summary-list__row ">
              <dt class="govuk-summary-list__key">

              </dt>
              <dd class="govuk-summary-list__value">
          Site Manager
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="delete-position-employee">
                  Delete<span class="govuk-visually-hidden"> team leader position access</span>
                </a>
              </dd>


            </div>
            <div class="govuk-summary-list__row ">
              <dt class="govuk-summary-list__key">

              </dt>
              <dd class="govuk-summary-list__value">
          Team Leader ABB 01
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="delete-position-employee">
                  Delete<span class="govuk-visually-hidden"> team leader position access</span>
                </a>
              </dd>


            </div>
          </dl>


          <a href='employee-add-position '>
          <button class="govuk-button govuk-!-margin-top-7" data-module="govuk-button">
          Add new position
          </button>
          </a>
    </div>


    </div>

    </div>













      </div>
      </main>

  </div>

{% endblock %}
