{% extends "layout_agent.html" %}

{% block pageTitle %}
  Cases unassigned
{% endblock %}



{% block content %}

<div class="govuk-width-container">


    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="my-account">My account</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="my-profile">My profile</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="change-name">Change name</a>
        </li>

      </ol>
    </div>




 <main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


<form action="my-profile-changed" method="post" class="form">





  <div class="govuk-form-group">
<h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
  New full name
</label>
</h1>
<input class="govuk-input" id="event-name" name="event-name" type="text">
</div>





  <button type="submit" class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>

<p><a class="govuk-link" href="javascript:window.history.back()">Cancel</a></p>

</form>
<p><a href="change-name-error" aria-describedby="change-name-error"> Validation example </a> </p>
    </div>

</div>

  </main>
  </div>

{% endblock %}
