{% extends "layout.html" %}

{% block pageTitle %}
  Case queues
{% endblock %}


{% block content %}

<div class="govuk-width-container">

    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="my-account">My account</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="my-profile">My profile</a>
        </li>

      </ol>
    </div>



<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        My profile
      </h1>

  <p class="govuk-body govuk-!-margin-bottom-7">To edit your contact details, click change. Account details can only be edited by the administrator.</p>





    <h1 class="govuk-heading-m">
      Contact details
    </h1>


    <form action="assigning-cases" method="post" class="form">
<div>
      <dl class="govuk-summary-list">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Jean Ipsum
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="change-name">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mobile phone
          </dt>
          <dd class="govuk-summary-list__value">
            07575 757575
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> mobile phone</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Work phone
          </dt>
          <dd class="govuk-summary-list__value">
            07575 757575
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Work phone</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            jeanipsum@email.com
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
</div>
        <h1 class="govuk-heading-m">
          Account details
        </h1>


        <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Job role
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum
          </dd>

        </div>

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            User ID
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum
          </dd>

        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Team
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum
          </dd>

        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Organisation
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum
          </dd>

        </div>


    </div>

</div>
</div>


{% endblock %}
