{% extends "layout.html" %}

{% block pageTitle %}
  Case queues
{% endblock %}


{% block content %}

<div class="govuk-width-container">


<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        My account
      </h1>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-m">
               My profile
          </h2>


          <ul class="govuk-list">
            <ul class="govuk-list">
              <li>

                  <a class="govuk-link" href="my-profile" aria-describedby="my-profile">
                View and change your CAMLite user profile details
                </a>

            </li>
          </ul>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

{% if data['login'] === 'teamleader' %}


          <h2 class="govuk-heading-m">
            Change position
          </h2>
          <ul class="govuk-list">
            <ul class="govuk-list">
              <li>

                  <a class="govuk-link" href="my-position" aria-describedby="my-position">
                View or change your current position
              </a>
          </li>

          </ul>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-m">
            Add or edit skills
          </h2>
          <ul class="govuk-list">
            <li>

                <a class="govuk-link" href="WIP" aria-describedby="my-position">
              View or change skills
            </a>
          </li>
          </ul>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
{% elseif data['login'] === 'manager' %}

        <h2 class="govuk-heading-m">
          Change position
        </h2>
        <ul class="govuk-list">
          <ul class="govuk-list">
            <li>

                <a class="govuk-link" href="my-position" aria-describedby="my-position">
              View or change your current position
            </a>
        </li>

        </ul>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">
          Add or edit skills
        </h2>
        <ul class="govuk-list">
          <li>

              <a class="govuk-link" href="WIP" aria-describedby="my-position">
            View or change skills
          </a>
        </li>
        </ul>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  {% else %}
  {% endif %}
                    <h2 class="govuk-heading-m">
                         Saved queries
                    </h2>


                    <ul class="govuk-list">
                      <ul class="govuk-list">
                        <li>

                            <a class="govuk-link" href="/alpha/every-user-general/saved-queries" aria-describedby="my-profile">
                          View and delete your saved queries
                          </a>

                      </li>
                    </ul>





    </div>

</div>
</div>


{% endblock %}
