{% extends "layout.html" %}

{% block pageTitle %}
  Case details
{% endblock %}



{% block content %}

<div class="govuk-width-container">

    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="case-queues">Cases</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="teams-all-cases">Team's all cases</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="customer-details-main">Customer details</a>
        </li>

      </ol>
    </div>


<!-- <section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar_key-details">
    <div class="key-details-bar_top-block">
      <dt class="govuk-visually-hidden">Name:</dt>
      <dt class="key-details-bar_name">Noelle Carmel</dt>
      <dt class="govuk-visually-hidden">National Insurance Number:</dt>
      <dt class="key-details-bar_name">RN 00 04 26D</dt>
      <dt class="govuk-visually-hidden">Claim status:</dt>
      <dt class="key-details-bar_status">Lorem ipsum</dt>
      ::after
</section>    -->

<div class="govuk-width-container">
<section class="dwp-key-details-bar" aria-label="Key details">
<dl class="dwp-key-details-bar__key-details">
    <div class="dwp-key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dd class="dwp-key-details-bar__name"> Jane Doe</dd>
        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dd class="dwp-key-details-bar__nino">QQ 12 34 56 X</dd>
        <dt class="govuk-visually-hidden">Claim status:</dt>
        <dd class="dwp-key-details-bar__status">Tag to tag some info about customer</dd>
    </div>
    <div class="dwp-key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>4 June 1972</dd>
        <dt>Mobile:</dt>
        <dd>07771 900 900</dd>
        <dt>Language:</dt>
        <dd>Welsh speaker</dd>
    </div>
</dl>
</section>
</div>



<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">




    <div class="govuk-grid-column-one-thirds">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third">

          <nav class="moj-side-navigation" aria-label="Side navigation">
  <h4 class="moj-side-navigation__title">Customer</h4>
            <ul class="moj-side-navigation__list">

              <li class="moj-side-navigation__item moj-side-navigation__item--active">
                <a href="customer-details-main" aria-current="location">Customer details</a>
              </li>
              <li class="moj-side-navigation__item">
                <a href="customer-details-contact">Contact details</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="customer-details-representatives">Representatives</a>
              </li>
              <li class="moj-side-navigation__item">
                <a href="customer-details-benefits">Benefits</a>
              </li>

            </ul>

            <h4 class="moj-side-navigation__title">Cases</h4>
            <ul class="moj-side-navigation__list">
              <li class="moj-side-navigation__item">
                <a href="#2.1">Cases queue</a>
              </li>




            </ul>

            <h4 class="moj-side-navigation__title">Tasks</h4>
            <ul class="moj-side-navigation__list">
              <li class="moj-side-navigation__item">
                <a href="#2.1">Tasks queue</a>
              </li>

            

            </ul>
          </nav>

        </div>

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Representatives
      </h1>




    </div>
  </div>

</div>



</div>





</div>



{% endblock %}
