{% extends "layout.html" %}

{% block pageTitle %}
  Case details
{% endblock %}



{% block content %}

<div class="govuk-width-container">

    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="case-queues">Cases</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="teams-all-cases">Team's all cases</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="customer-details-main">Customer details</a>
        </li>

      </ol>
    </div>


<!-- <section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar_key-details">
    <div class="key-details-bar_top-block">
      <dt class="govuk-visually-hidden">Name:</dt>
      <dt class="key-details-bar_name">Noelle Carmel</dt>
      <dt class="govuk-visually-hidden">National Insurance Number:</dt>
      <dt class="key-details-bar_name">RN 00 04 26D</dt>
      <dt class="govuk-visually-hidden">Claim status:</dt>
      <dt class="key-details-bar_status">Lorem ipsum</dt>
      ::after
</section>    -->

<div class="govuk-width-container">
<section class="dwp-key-details-bar" aria-label="Key details">
<dl class="dwp-key-details-bar__key-details">
    <div class="dwp-key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dd class="dwp-key-details-bar__name"> Jane Doe</dd>
        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dd class="dwp-key-details-bar__nino">QQ 12 34 56 X</dd>
        <dt class="govuk-visually-hidden">Claim status:</dt>
        <dd class="dwp-key-details-bar__status">Unacceptable behaviour field data</dd>
    </div>
    <div class="dwp-key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>4 June 1972</dd>
        <dt>Mobile:</dt>
        <dd>07771 900 900</dd>
        <dt>Language:</dt>
        <dd>Welsh speaker</dd>
    </div>
</dl>
</section>
</div>



<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">


        <div class="govuk-grid-column-one-third">

<aside class="app-related-items" role="complementary">
          <nav class="moj-side-navigation" aria-label="Side navigation">
  <h4 class="moj-side-navigation__title">Customer</h4>
            <ul class="moj-side-navigation__list">

              <li class="moj-side-navigation__item moj-side-navigation__item--active">
                <a href="customer-details-main" aria-current="location">Customer details</a>
              </li>
              <li class="moj-side-navigation__item">
                <a href="customer-details-contact">Contact details</a>
              </li>



              <li class="moj-side-navigation__item">
                <a href="customer-details-representatives">Representatives</a>
              </li>
              <li class="moj-side-navigation__item">
                <a href="customer-details-benefits">Benefits</a>
              </li>

            </ul>

            <h4 class="moj-side-navigation__title">Cases</h4>
            <ul class="moj-side-navigation__list">
              <li class="moj-side-navigation__item">
                <a href="customer-all-cases">Customer cases</a>
              </li>
              <li class="moj-side-navigation__item">
                <a href="create-new-case">Create new case</a>
              </li>



            </ul>

            <h4 class="moj-side-navigation__title">Tasks</h4>
            <ul class="moj-side-navigation__list">
              <li class="moj-side-navigation__item">
                <a href="#2.1">Customer tasks</a>
              </li>




            </ul>
          </nav>
</aside>
        </div>

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Personal details
      </h1>

      <dl class="govuk-summary-list">


        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Customer name
          </dt>
          <dd class="govuk-summary-list__value">
          Jane Doe
          </dd>

        </div>

        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Preferred name
          </dt>
          <dd class="govuk-summary-list__value">
            Jane
          </dd>

        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Gender
          </dt>
          <dd class="govuk-summary-list__value">
            Female
          </dd>

        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            NINO
          </dt>
          <dd class="govuk-summary-list__value">
            RN 00 23 34 55R
          </dd>

        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            CRN
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem Ipsum
          </dd>

        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            4 June 1972
          </dd>

        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Date of death
          </dt>
          <dd class="govuk-summary-list__value">
            -
          </dd>

        </div>


      </dl>

<div class="govuk-!-margin-top-9">
      <h1 class="govuk-heading-l" >
      Additional
      </h1>
</div>
      <dl class="govuk-summary-list">



        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Preferred spoken language
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum
          </dd>

        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Preferred written language
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum
          </dd>

        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Accessibility needs
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum
          </dd>

        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            Unacceptable behaviour
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum
          </dd>

        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
          <dt class="govuk-summary-list__key">
            National sensitivity indicator
          </dt>
          <dd class="govuk-summary-list__value">
            <td class="govuk-table__cell"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="waste">

            </label>
          </div></td>
          </dd>

        </div>



      </dl>

<div class="govuk-!-margin-top-9">
      <p class="govuk-body">
        <a href='#'class="govuk-link" rel="noreferrer noopener" target="_blank"> View customer documents  </a> link will open in a new window (DRS system).
        </p>  </div>


</div>


</div>

</div>



{% endblock %}
