{% extends "layout.html" %}

{% block pageTitle %}
  Cases unassigned
{% endblock %}



{% block content %}

<div class="govuk-width-container">


    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="my-account">My account</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="my-position">My position</a>
        </li>

      </ol>
    </div>




 <main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


<form action="position-confirmation-tl" method="post" class="form">

      <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Change position to:
        </h1>
        <div id="more-detail-hint" class="govuk-hint">
  To change your active position, select another and click 'save and continue'.
</div>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="position-1" name="position" type="radio" value="teamleader">
          <label class="govuk-label govuk-radios__label" for="position-1">
            Team Leader <strong class="govuk-tag" >
              Active position
            </strong>
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="position-2" name="position" type="radio" value="agent">
          <label class="govuk-label govuk-radios__label" for="position-2">
            Agent
          </label>
        </div>

      </div>


    </fieldset>
  </div>
  <div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>


</div>
</form>
<p><a href="my-position-validation" aria-describedby="my-position-validation"> Validation example </a> </p>
    </div>

  
  </main>
  </div>

{% endblock %}
