{% extends "layout.html" %}

{% block pageTitle %}
  Changed position confirmation
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Active position has been changed to the team leader.</h1>

      </div>



      <h2 class="govuk-heading-m">What do you want to do next?</h2>

      <p><a href="/alpha/teamleader/dashboard-tl">View your dashboard overview.</a> </p>






  </div>

{% endblock %}
