{% extends "layout.html" %}

{% block pageTitle %}
  Search cases
{% endblock %}


{% block content %}
<div class="govuk-width-container">

    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="case-queues">Cases</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="teams-all-cases">Team's all cases</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="customer-details-main">Customer details</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="customer-contact-history">Customer contact history  </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="add-new-contact-record">Add new contact record  </a>
        </li>
      </ol>
    </div>

    <div class="govuk-width-container">
    <section class="dwp-key-details-bar" aria-label="Key details">
    <dl class="dwp-key-details-bar__key-details">
        <div class="dwp-key-details-bar__top-block">
            <dt class="govuk-visually-hidden">Name:</dt>
            <dd class="dwp-key-details-bar__name"> Jane Doe</dd>
            <dt class="govuk-visually-hidden">National Insurance number:</dt>
            <dd class="dwp-key-details-bar__nino">QQ 12 34 56 X</dd>
            <dt class="govuk-visually-hidden">Claim status:</dt>
            <dd class="dwp-key-details-bar__status">Unacceptable behaviour field data</dd>
        </div>
        <div class="dwp-key-details-bar__bottom-block">
            <dt>Date of birth:</dt>
            <dd>4 June 1972</dd>
            <dt>Mobile:</dt>
            <dd>07771 900 900</dd>
            <dt>Language:</dt>
            <dd>Welsh speaker</dd>
        </div>
    </dl>
    </section>
    </div>



      <main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
<div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l">
     Add new contact record
   </h1>
   </div>
    <div class="govuk-grid-column-one-half">


      <!--COLUMN 1-->
      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="created-on">
    <legend class="govuk-fieldset__legend">
      Date of contact
    </legend>
    <div id="created-on-hint" class="govuk-hint">
      For example, 27 3 2007
    </div>
    <div class="govuk-date-input" id="created-on">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="created-on-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="created-on-day" name="created-on-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="created-on-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="created-on-month" name="created-on-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="created-on-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="created-on-year" name="created-on-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
    </div>

  </fieldset>
</div>

  <!--COLUMN 2-->
  <div class="govuk-form-group">
    <label class="govuk-label" for="type">
        Contact reason
    </label>

    <select class="govuk-select govuk-!-width-one-half" id="sort" name="sort">
    <option value="published">lorem ipsum</option>
    <option value="updated" selected>lorem ipsum</option>
    <option value="views">lorem ipsum</option>
    <option value="comments">lorem ipsum</option>
  </select>
  </div>

  <!--COLUMN 3-->
  <div class="govuk-form-group">
    <label class="govuk-label" for="sub-type">
        Contact sub-reason
    </label>
    <select class="govuk-select govuk-!-width-one-half" id="sort" name="sort">
    <option value="published">lorem ipsum</option>
    <option value="updated" selected>lorem ipsum</option>
    <option value="views">lorem ipsum</option>
    <option value="comments">lorem ipsum</option>
  </select>
  </div>

  <!--COLUMN 4-->
  <div class="govuk-form-group">
    <label class="govuk-label" for="benefit">
        Inbound/outbound
    </label>
    <select class="govuk-select govuk-!-width-one-half" id="sort" name="sort">
    <option value="published">lorem ipsum</option>
    <option value="updated" selected>lorem ipsum</option>
    <option value="views">lorem ipsum</option>
    <option value="comments">lorem ipsum</option>
  </select>
  </div>

  <!--COLUMN 5-->
  <div class="govuk-form-group">
    <label class="govuk-label" for="status">
        Security questions
    </label>
    <select class="govuk-select govuk-!-width-one-half" id="sort" name="sort">
    <option value="published">lorem ipsum</option>
    <option value="updated" selected>lorem ipsum</option>
    <option value="views">lorem ipsum</option>
    <option value="comments">lorem ipsum</option>
  </select>
  </div>

  <!--COLUMN 6-->
  <div class="govuk-form-group">
    <label class="govuk-label" for="case-resolution">
        Contact with
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="case-resolution" name="case-resolution" type="text">
  </div>
</div>


<div class="govuk-grid-column-one-half">
  <!--COLUMN 7-->
  <div class="govuk-form-group">
    <label class="govuk-label" for="case-resolution">
        Channel
    </label>
    <select class="govuk-select govuk-!-width-one-half" id="sort" name="sort">
    <option value="published">lorem ipsum</option>
    <option value="updated" selected>lorem ipsum</option>
    <option value="views">lorem ipsum</option>
    <option value="comments">lorem ipsum</option>
  </select>
  </div>


      <!--COLUMN 8-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="customer-surname">
            System (DRS/CAMLite)
        </label>
        <select class="govuk-select govuk-!-width-one-half" id="sort" name="sort">
        <option value="published">lorem ipsum</option>
        <option value="updated" selected>lorem ipsum</option>
        <option value="views">lorem ipsum</option>
        <option value="comments">lorem ipsum</option>
      </select>
      </div>

      <!--COLUMN 9-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="nino">
            Agent ID
        </label>
        <select class="govuk-select govuk-!-width-one-half" id="sort" name="sort">
        <option value="published">lorem ipsum</option>
        <option value="updated" selected>lorem ipsum</option>
        <option value="views">lorem ipsum</option>
        <option value="comments">lorem ipsum</option>
      </select>
      </div>

      <!--COLUMN 10-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="crn">
            Connection ID
        </label>
        <select class="govuk-select govuk-!-width-one-half" id="sort" name="sort">
        <option value="published">lorem ipsum</option>
        <option value="updated" selected>lorem ipsum</option>
        <option value="views">lorem ipsum</option>
        <option value="comments">lorem ipsum</option>
      </select>
      </div>

      <!--COLUMN 11-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="crn">
            Number called from
        </label>
        <input class="govuk-input govuk-!-width-one-half" id="crn" name="crn" type="text">
      </div>

      <!--COLUMN 12-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="caseid">
            Reason not online
        </label>
        <input class="govuk-input govuk-!-width-one-half" id="caseid" name="caseid" type="text">
      </div>
</div>
      <!--COLUMN 13-->
      <div class="govuk-grid-column-full">

        <div class="govuk-form-group">
        <label class="govuk-label" for="more-detail">
          Add note
        </label>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"></textarea>
      </div>




  <a href='add-new-contact-confirmation'>
  <button class="govuk-button " data-module="govuk-button">
    Save and continue
  </button>
</a>
  <p>  <a class="govuk-link" href="add-new-contact-record">Cancel and clear fields</a></p>
</div>


      </div>
      </main>

  </div>

{% endblock %}
