{% extends "layout.html" %}

{% block pageTitle %}
  Assigning the cases
{% endblock %}




{% block content %}
<div class="govuk-width-container">
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="assigned-cases-confirmation-myqueue" method="post" class="form">


            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="transport-option-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  <span class="govuk-caption-l">New cases to assign</span>
                        <h1 class="govuk-fieldset__heading">
                            Which queue do you want to assign these cases to?
                        </h1>
                    </legend>

                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="my-queue-1" name="my-queue"
                                   type="radio"
                                   value="lorem ipsum">
                            <label class="govuk-label govuk-radios__label" for="my-queue-1">
                              Lorem ipsum
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="my-queue-2" name="my-queue"
                                   type="radio"
                                   value="lorem ipsum">
                            <label class="govuk-label govuk-radios__label" for="my-queue-2">
                                Lorem ipsum
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="my-queue-3" name="my-queue"
                                   type="radio"
                                   value="lorem ipsum">
                            <label class="govuk-label govuk-radios__label" for="my-queue-3">
                                Lorem ipsum
                            </label>
                        </div>

                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
</div>
{% endblock %}
