{% extends "layout.html" %}

{% block pageTitle %}
  Case details
{% endblock %}



{% block content %}

<div class="govuk-width-container">

    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="case-queues">Cases</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="teams-all-cases">Team's all cases</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="teams-all-cases">Case details</a>
        </li>

      </ol>
    </div>
<!-- <section class="key-details-bar" role="contentinfo" aria-label="Key details">
  <dl class="key-details-bar_key-details">
    <div class="key-details-bar_top-block">
      <dt class="govuk-visually-hidden">Name:</dt>
      <dt class="key-details-bar_name">Noelle Carmel</dt>
      <dt class="govuk-visually-hidden">National Insurance Number:</dt>
      <dt class="key-details-bar_name">RN 00 04 26D</dt>
      <dt class="govuk-visually-hidden">Claim status:</dt>
      <dt class="key-details-bar_status">Lorem ipsum</dt>
      ::after
</section>    -->





<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-thirds">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third">

          <nav class="moj-side-navigation" aria-label="Side navigation">
            <h4 class="moj-side-navigation__title">Section 1</h4>
            <ul class="moj-side-navigation__list">
              <li class="moj-side-navigation__item moj-side-navigation__item--active">
                <a href="#1.1" aria-current="location">Nav item 1.1</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="#1.2">Nav item 1.2</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="#1.3">Nav item 1.3</a>
              </li>
            </ul>

            <h4 class="moj-side-navigation__title">Section 2</h4>
            <ul class="moj-side-navigation__list">
              <li class="moj-side-navigation__item">
                <a href="#2.1">Nav item 2.1</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="#2.2">Nav item 2.2</a>
              </li>

              <li class="moj-side-navigation__item">
                <a href="#2.3">Nav item 2.3</a>
              </li>
            </ul>
          </nav>

        </div>

    <div class="govuk-grid-column-two-thirds">



      <h1 class="govuk-heading-l">
        Case details
      </h1>


      <form action="assigning-cases" method="post" class="form">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">
              Created on
            </dt>
            <dd class="govuk-summary-list__value">
              5 January 2020
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> type</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sub-type
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Sub-type</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              <td class="govuk-table__cell"><strong class="govuk-tag  govuk-tag--yellow" id="awaiting decision">Awaiting decision</strong></td>

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> status</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Customer name
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> customer name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              NINO
            </dt>
            <dd class="govuk-summary-list__value">
              RN 00 01 23 A
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> national insurance number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            CRN
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> CRN</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Benefit
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Benefit</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Case resolution
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> case resolution</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Case resolution selected on
            </dt>
            <dd class="govuk-summary-list__value">
                5 January 2021
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> case resolution selected on</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Due date
            </dt>
            <dd class="govuk-summary-list__value">
                15 January 2021
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> due date</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">
              Owner ID
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum
            </dd>

          </div>

          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">
              Owner name
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum
            </dd>

          </div>
          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">
              Assign to
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum
            </dd>

          </div>
          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">
              Claim ID
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum
            </dd>

          </div>
          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">
              Case ID
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum
            </dd>

          </div>


        </dl>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Customer details
            </span>
          </summary>
          <div class="govuk-details__text">
            We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
        <br>
        <a class="govuk-link" href="#">Edit notes</a>
          </div>
        </details>

        <br><br><br>
        <div class="govuk-button-group">
          <a href='assigning-cases'>
        <button class="govuk-button" data-module="govuk-button">
          Re-allocate case
        </button>


        </div>
        <div><a class="govuk-link" href="dashboard-tl">Cancel</a></div>




</div>

<div class="govuk-grid-column-one-third">
<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="urgent" name="urgent" type="checkbox" value="urgent">
        <label class="govuk-label govuk-checkboxes__label" for="urgent">
          Urgent
        </label>
      </div>
</div>
<br><br>
<p class="govuk-body"><br><a href="" aria-describedby="customer-details">Tasks</a></p>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Case notes
    </span>
  </summary>
  <div class="govuk-details__text">
    We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
<br>
<a class="govuk-link" href="#">Edit notes</a>
  </div>
</details>

</div>



</div>

</div>

{% endblock %}
