{% extends "layout.html" %}

{% block pageTitle %}
  Assigning the cases
{% endblock %}




{% block content %}
<div class="govuk-width-container">
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="new-query-confirmation" method="post" class="form">


          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<span class="govuk-caption-l">New query</span>
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
      How do you want to name this query?
    </label>
  </h1>
  <input class="govuk-input" id="event-name" name="event-name" type="text">
</div>



            <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
        </form>
    </div>
</div>
</div>
</div>
{% endblock %}
