{% extends "layout.html" %}

{% block pageTitle %}
  Saved queries
{% endblock %}



{% block content %}

<div class="govuk-width-container">


<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Saved queries
      </h1>



              <a href='/alpha/customers/cases/search-cases'>
            <button class="govuk-button" data-module="govuk-button">
              Add new query
            </button>
      </a>






      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">

    <div class="govuk-accordion__section-header">

      <h2 class="govuk-accordion__section-heading">

        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
        Lorem ipsum query
        </span>
      </h2>


    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

      <p class="govuk-body">Selected fields:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Status: Open</li>
        <li>Type: Lorem ipsum</li>
        <li>Sub-type: Lorem ipsum</li>
      </ul>

<p class="govuk-body"><a class="govuk-link" href="removing-saved-query">
        Delete this query<span class="govuk-visually-hidden">   Lorem ipsum query</span>
      </a>
</p>

    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Lorem ipsum query 2
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

        <p class="govuk-body">Selected fields:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Status: Open</li>
          <li>Type: Lorem ipsum</li>
          <li>Sub-type: Lorem ipsum</li>
        </ul>

        <p class="govuk-body"><a class="govuk-link" href="#">
                Delete this query<span class="govuk-visually-hidden">   Lorem ipsum query</span>
              </a>
        </p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Lorem ipsum query 3
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

        <p class="govuk-body">Selected fields:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Status: Open</li>
          <li>Type: Lorem ipsum</li>
          <li>Sub-type: Lorem ipsum</li>
        </ul>

        <p class="govuk-body"><a class="govuk-link" href="#">
                Delete this query<span class="govuk-visually-hidden">   Lorem ipsum query</span>
              </a>
        </p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Lorem ipsum query 4
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

        <p class="govuk-body">Selected fields:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Status: Open</li>
          <li>Type: Lorem ipsum</li>
          <li>Sub-type: Lorem ipsum</li>
        </ul>
        <p class="govuk-body"><a class="govuk-link" href="#">
                Delete this query<span class="govuk-visually-hidden">   Lorem ipsum query</span>
              </a>
        </p>
    </div>
  </div>
</div>





          </div>


      </div>
      </div>





{% endblock %}
