{% extends "layout.html" %}

{% block pageTitle %}
  Cases unassigned
{% endblock %}


{% block content %}

<div class="govuk-width-container">
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="task-queues">Tasks queues</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="agent-tasks-queue">Agent's tasks queue</a>
        </li>

      </ol>
    </div>
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


      <h1 class="govuk-heading-l">
        Rita Patel's tasks
      </h1>
      <div id="more-detail-hint" class="govuk-hint">
          Total: 6 Tasks
        </div>
        <div class="govuk-!-align-right">
        <a href='search-cases'>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" action="search-cases">
        Find task
        </button>
        </a>
        </div>
      <!-- FILTERS DONT WORK  <div class="moj-filter-layout">

          <div class="moj-filter-layout__filter">

            <div class="moj-filter">

              <div class="moj-filter__header">

                <div class="moj-filter__header-title">
                  <h2 class="govuk-heading-m">Filter</h2>
                </div>

                <div class="moj-filter__header-action">

                </div>

              </div>

              <div class="moj-filter__content">

                <div class="moj-filter__selected">

                  <div class="moj-filter__selected-heading">

                    <div class="moj-filter__heading-title">
                      <h2 class="govuk-heading-m">Selected filters</h2>
                    </div>

                    <div class="moj-filter__heading-action">
                      <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
                    </div>

                  </div>

                  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Colour</h3>

                  <ul class="moj-filter-tags">

                    <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Blue</a></li>

                    <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Yellow</a></li>

                  </ul>

                  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Status</h3>

                  <ul class="moj-filter-tags">

                    <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span> Complete</a></li>

                  </ul>

                </div>

                <div class="moj-filter__options">

                  <button class="govuk-button" data-module="govuk-button">
                    Apply filters
                  </button>

                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="keywords">
                      Keywords
                    </label>

                    <input class="govuk-input" id="keywords" name="keywords" type="text">
                  </div>

                  <div class="govuk-form-group">

                    <fieldset class="govuk-fieldset">

                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                        Colour

                      </legend>

                      <div class="govuk-checkboxes govuk-checkboxes--small">

                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1" checked>
                          <label class="govuk-label govuk-checkboxes__label" for="type">
                            Blue (18)
                          </label>

                        </div>

                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2" checked>
                          <label class="govuk-label govuk-checkboxes__label" for="type-2">
                            Yellow (5)
                          </label>

                        </div>

                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                          <label class="govuk-label govuk-checkboxes__label" for="type-3">
                            Red (2)
                          </label>

                        </div>

                      </div>

                    </fieldset>

                  </div>

                  <div class="govuk-form-group">

                    <fieldset class="govuk-fieldset">

                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                        Status

                      </legend>

                      <div class="govuk-checkboxes govuk-checkboxes--small">

                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="1" checked>
                          <label class="govuk-label govuk-checkboxes__label" for="status">
                            Complete (5)
                          </label>

                        </div>

                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="2">
                          <label class="govuk-label govuk-checkboxes__label" for="status-2">
                            Incomplete (3)
                          </label>

                        </div>

                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="3">
                          <label class="govuk-label govuk-checkboxes__label" for="status-3">
                            In progress (13)
                          </label>

                        </div>

                      </div>

                    </fieldset>

                  </div>

                </div>

              </div>

            </div>

          </div>

          <div class="moj-filter-layout__content">

            <div class="moj-action-bar">

              <div class="moj-action-bar__filter"></div>

              <div class="moj-button-menu">
                <div class="moj-button-menu__wrapper">

                  <button class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
                    Action 1
                  </button>

                  <button class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
                    Action 2
                  </button>

                </div>
              </div>

            </div>

            <div class="moj-scrollable-pane">

              <div class="moj-scrollable-pane__wrapper"> -->


              <table class="govuk-table" data-module="moj-sortable-table" >

                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">

                    <th scope="col" class="govuk-table__header" aria-sort="none">Created on</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Type</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Sub-type</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Customer name</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">National Insurance Number</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">CRN</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Benefit</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Case resolution</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Case resolution selected on</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Due date</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Owner ID</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Owner name</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Claim ID</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Case ID</th>
                  </tr>
                </thead>

                <tbody class="govuk-table__body">

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="case-details" aria-describedby="case-details">1 Feb 2021</a></td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <th scope="row" class="govuk-table__header"><strong class="govuk-tag govuk-tag--yellow" id="open">Open</strong></th>

                    <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail-srti">John Doe</a></td>
                    <td class="govuk-table__cell">RN 00 01 23 A</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>

                  </tr>

                  <tr class="govuk-table__row">

                    <td class="govuk-table__cell"><a href="case-details" aria-describedby="case-details">10 Feb 2021</a></td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <th scope="row" class="govuk-table__header"><strong class="govuk-tag govuk-tag--yellow" id="open">Open</strong></th>
                    <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail-srti">Janette Rafe</a></td>
                    <td class="govuk-table__cell">RN 00 11 23 A</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                  </tr>

                  <tr class="govuk-table__row">

                    <td class="govuk-table__cell"><a href="case-details" aria-describedby="case-details">12 Mar 2021</a></td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <th scope="row" class="govuk-table__header"><strong class="govuk-tag govuk-tag--yellow" id="open">Open</strong></th>
                    <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Noelle Carmel</a></td>
                    <td class="govuk-table__cell">RN 00 04 26 D</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                  </tr>

                  <tr class="govuk-table__row">

                    <td class="govuk-table__cell"><a href="case-details" aria-describedby="case-details">6 May 2021</a></td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <th scope="row" class="govuk-table__header"><strong class="govuk-tag govuk-tag--yellow" id="open">Open</strong></th>
                    <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail-report">Sylevette Colwyn</a></td>
                    <td class="govuk-table__cell">RN 00 01 11 N</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    </tr>

                  <tr class="govuk-table__row">

                    <td class="govuk-table__cell"><a href="case-details" aria-describedby="case-details">21 Feb 2021</a></td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <th scope="row" class="govuk-table__header"><strong class="govuk-tag govuk-tag--yellow" id="open">Open</strong></th>
                    <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Susanna Shaye</a></td>
                    <td class="govuk-table__cell">RN 00 11 23 B</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                  </tr>

                  <tr class="govuk-table__row">

                    <td class="govuk-table__cell"><a href="case-details" aria-describedby="case-details">4 Apr 2021</a></td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <th scope="row" class="govuk-table__header"><strong class="govuk-tag govuk-tag--yellow" id="open">Open</strong></th>
                    <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Heather Sand</a></td>
                    <td class="govuk-table__cell">RN 00 01 11 A</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    <td class="govuk-table__cell">Lorem Ipsum</td>
                    </tr>


                </tbody>
              </table>

              <nav class="moj-pagination" id="pagination-label">

                <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

                <ul class="moj-pagination__list">
                  <li class="moj-pagination__item  moj-pagination__item--prev">
                    <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
                  </li>

                  <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=1">1</a></li>

                  <li class="moj-pagination__item moj-pagination__item--active">2</li>

                  <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3">3</a></li>

                  <li class="moj-pagination__item moj-pagination__item--dots">...</li>

                  <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=5">5</a></li>

                  <li class="moj-pagination__item  moj-pagination__item--next">
                    <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
                  </li>
                </ul>
                <p class="moj-pagination__results">Showing <b>10</b> to <b>20</b> of <b>30</b> pages</p>
              </nav>

<br><br><br>
                  <div class="govuk-button-group">
                    <a href='assigning-cases'>
                  <button class="govuk-button" data-module="govuk-button">
                    Re-allocate cases
                  </button>


                  </div>
                  <div><a class="govuk-link" href="dashboard-tl">Cancel</a></div>
                      </div>
            </div>
          </div>

        </div>


{% endblock %}
