{% extends "layout.html" %}

{% block pageTitle %}
  Assigning the cases
{% endblock %}




{% block content %}
<div class="govuk-width-container">
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="new-queue-added2" method="post" class="form">


            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="transport-option-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  <span class="govuk-caption-l">New tasks to assign</span>
                        <h1 class="govuk-fieldset__heading">
                            Add a new queue to
                        </h1>
                    </legend>

                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="new-queue-1" name="new-queue"
                                   type="radio"
                                   value="me">
                            <label class="govuk-label govuk-radios__label" for="new-queue-1">
                              Team Leader queues
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="new-queue-2" name="new-queue"
                                   type="radio"
                                   value="agent">
                            <label class="govuk-label govuk-radios__label" for="new-queue-2">
                                Agent's queues
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="new-queue-3" name="new-queue"
                                   type="radio"
                                   value="team">
                            <label class="govuk-label govuk-radios__label" for="new-queue-3">
                                Team's queues
                            </label>
                        </div>
</div>

                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
</div>
{% endblock %}
