{% extends "layout.html" %}

{% block pageTitle %}
  Task queues
{% endblock %}



{% block content %}

<div class="govuk-width-container">


<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Task queues
      </h1>


      <p class="govuk-body govuk-!-margin-bottom-7">Select a queue to view tasks.</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h2 class="govuk-heading-m">
                     My tasks: 15 tasks
                </h2>


                <ul class="govuk-list">
                  <ul class="govuk-list">

                  <li>
                      <a class="govuk-link" href="agent-tasks-queue" aria-describedby="my-account-details">
                    Outstanding tasks (5)
                    </a>
                </li>

                <li>
                    <a class="govuk-link" href="agent-tasks-queue" aria-describedby="my-account-details">
                  Closed tasks (5)
                  </a>
              </li>


                </ul>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h2 class="govuk-heading-m">
                  My team's queues: 135 tasks
                </h2>
                <ul class="govuk-list">
                  <ul class="govuk-list">
                    <li>

                        <a class="govuk-link" href="teams-all-tasks" aria-describedby="change-position">
                      All tasks (135)
                    </a>
                </li>
                <li>

                  <a href="" aria-describedby="company-information-status">
                    Tasks returned by agents (12)
                  </a>
            </li>

            <br>
                            <li>

                                <a class="govuk-link" href="teams-all-cases" aria-describedby="change-position">
                              Outstanding (105)
                            </a>
                        </li>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>
                                    <a class="govuk-link" href="teams-all-cases" aria-describedby="change-position">
                                New tasks (10)
                              </a>
                              </li>
                              <li>
                              <a href="new-tasks-unassigned" aria-describedby="company-information-status">
                                Unassigned tasks (10)
                              </a>
                        </li>
                        <li>

                          <a href="" aria-describedby="company-information-status">
                            Assigned tasks (125)
                          </a>
                    </li>
                    </ul>



                  <li>
                      <a class="govuk-link" href="agent-cases-queue" aria-describedby="my-account-details">
                    Total brought forward (15)
                    </a>
                </li>
            




      <li>
          <a class="govuk-link" href="agent-cases-queue" aria-describedby="my-account-details">
        Closed tasks (35)
        </a>
      </li>


                </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h2 class="govuk-heading-m">
                Agents' queues: 35 tasks
                </h2>
                <ul class="govuk-list">
                  <li>

                    <a href="agent-tasks-queue" aria-describedby="agent-name">
                      David Francis (12)</a>
                  </li>
                  <li>

                    <a href="agent-tasks-queue" aria-describedby="agent-name">
                    Paul Farmer (17)</a>
                  </li>
                  <li>

                    <a href="agent-tasks-queue" aria-describedby="agent-name">
                      Rita Patel (6)</a>
                  </li>
                  </ul>


          </div>

      </div>
      </div>





{% endblock %}
