{% extends "layout.html" %}

{% block pageTitle %}
  Assigning the cases
{% endblock %}




{% block content %}
<div class="govuk-width-container">
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="assigned-cases-confirmation-a" method="post" class="form">


            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="transport-option-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                        <h1 class="govuk-fieldset__heading">
                            Which queue do you want to assign these cases to?
                        </h1>
                    </legend>

                    <div class="govuk-radios">
                      <div class="govuk-radios">
                          <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="assign-queue-1" name="assign-queue"
                                     type="radio"
                                     value="skill1">
                              <label class="govuk-label govuk-radios__label" for="assign-queue-1">
                                Lorem ipsum 1 (data differs based on the benefit line)
                              </label>
                          </div>

                          <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="assign-queue-2" name="assign-queue"
                                     type="radio"
                                     value="skill2">
                              <label class="govuk-label govuk-radios__label" for="assign-queue-2">
                                  Lorem ipsum 2
                              </label>
                          </div>

                          <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="assign-queue-3" name="assign-queue"
                                     type="radio"
                                     value="skill3">
                              <label class="govuk-label govuk-radios__label" for="assign-queue-3">
                                  Lorem ipsum 3
                              </label>
                          </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
</div>
{% endblock %}
