{% extends "layout.html" %}

{% block pageTitle %}
  Search cases
{% endblock %}


{% block content %}
<div class="govuk-width-container">

    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="cases">Cases</a>
        </li>

      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="customer-details-main">Customer details</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="customer-all-cases">Customer cases</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="case-details">Create new case</a>
      </li>
      </ol>
    </div>

    <div class="govuk-width-container">
    <section class="dwp-key-details-bar" aria-label="Key details">
    <dl class="dwp-key-details-bar__key-details">
        <div class="dwp-key-details-bar__top-block">
            <dt class="govuk-visually-hidden">Name:</dt>
            <dd class="dwp-key-details-bar__name"> Jane Doe</dd>
            <dt class="govuk-visually-hidden">National Insurance number:</dt>
            <dd class="dwp-key-details-bar__nino">QQ 12 34 56 X</dd>
            <dt class="govuk-visually-hidden">Claim status:</dt>
            <dd class="dwp-key-details-bar__status">Unacceptable behaviour field data</dd>
        </div>
        <div class="dwp-key-details-bar__bottom-block">
            <dt>Date of birth:</dt>
            <dd>4 June 1972</dd>
            <dt>Mobile:</dt>
            <dd>07771 900 900</dd>
            <dt>Language:</dt>
            <dd>Welsh speaker</dd>
        </div>
    </dl>
    </section>
    </div>



      <main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
<div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l">
     Create new case
   </h1>
   </div>
    <div class="govuk-grid-column-one-half">


      <!--COLUMN 1-->
      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="created-on">
    <legend class="govuk-fieldset__legend">
      Created on
    </legend>
    <div id="created-on-hint" class="govuk-hint">
    For example, 27 3 2007
    </div>
    <div class="govuk-date-input" id="due-date">
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="due-date-day">
          Day
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="due-date-day" name="due-date-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="due-date-month">
          Month
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="due-date-month" name="due-date-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="due-date-year">
          Year
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="due-date-year" name="due-date-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
    </div>
    </div>

    </fieldset>



</div>

  <!--COLUMN 2-->
  <div class="govuk-form-group ">
    <label class="govuk-label " for="type">
        Type
    </label>

    <select class="govuk-select govuk-!-width-one-half" id="sort" name="sort">
    <option value="published"></option>
    <option value="updated" >Recently updated</option>
    <option value="views">Most views</option>
    <option value="comments">Most comments</option>
  </select>
  </div>

  <!--COLUMN 3-->
  <div class="govuk-form-group">
    <label class="govuk-label" for="sub-type">
        Sub-type
    </label>
    <select class="govuk-select govuk-!-width-one-half" id="sort" name="sort">
    <option value="published"></option>
    <option value="updated" >Recently updated</option>
    <option value="views">Most views</option>
    <option value="comments">Most comments</option>
  </select>
  </div>

  <!--COLUMN 4-->
  <div class="govuk-form-group">
    <label class="govuk-label" for="benefit">
        Benefit
    </label>
    <select class="govuk-select govuk-!-width-one-half " id="sort" name="sort">
    <option value="published"></option>
    <option value="updated">Recently updated</option>
    <option value="views">Most views</option>
    <option value="comments">Most comments</option>
  </select>
  </div>

  <!--COLUMN 5-->
  <div class="govuk-form-group">
    <label class="govuk-label" for="status">
        Status
    </label>
    <select class="govuk-select govuk-!-width-one-half " id="sort" name="sort">
    <option value="published"></option>
    <option value="updated" >Recently updated</option>
    <option value="views">Most views</option>
    <option value="comments">Most comments</option>
  </select>
  </div>

  <!--COLUMN 6-->
  <div class="govuk-form-group">
    <label class="govuk-label" for="case-resolution">
        Case resolution
    </label>
    <select class="govuk-select govuk-!-width-one-half" id="sort" name="sort">
    <option value="published"></option>
    <option value="updated">Recently updated</option>
    <option value="views">Most views</option>
    <option value="comments">Most comments</option>
  </select>
  </div>

  <!--COLUMN 7-->
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="case-resolution-selected-on">
  <legend class="govuk-fieldset__legend">
  Case resolution selected on
  </legend>
  <div id="created-on-hint" class="govuk-hint">
  For example, 27 3 2007
  </div>
  <div class="govuk-date-input" id="case-resolution-selected-on">
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="case-resolution-selected-on-day">
        Day
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="case-resolution-selected-on-day" name="case-resolution-selected-on-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="case-resolution-selected-on-month">
        Month
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="case-resolution-selected-on-month" name="case-resolution-selected-on-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="case-resolution-selected-on-year">
        Year
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="case-resolution-selected-on-year" name="case-resolution-selected-on-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
  </div>
  </div>

  </fieldset>
  </div>

    </div>

    <div class="govuk-grid-column-one-half">


      <!--COLUMN 8-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="customer-surname">
            Customer surname
        </label>
        <div id="created-on-hint" class="govuk-hint">
        Jane Doe
      </div>
      </div>

      <!--COLUMN 9-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="nino">
            NINO
        </label>
        <div id="created-on-hint" class="govuk-hint">
          QQ 12 34 56 X
          </div>
      </div>

      <!--COLUMN 10-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="crn">
            CRN
        </label>
        <div id="created-on-hint" class="govuk-hint">
          Lorem Ipsum</div>
      </div>

      <!--COLUMN 11-->
      <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="due-date">
      <legend class="govuk-fieldset__legend">
      Due date
      </legend>
      <div id="created-on-hint" class="govuk-hint">
      For example, 27 3 2007
      </div>
      <div class="govuk-date-input" id="due-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="due-date-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="due-date-day" name="due-date-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="due-date-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="due-date-month" name="due-date-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="due-date-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="due-date-year" name="due-date-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      </div>

      </fieldset>
      </div>

      <!--COLUMN 12-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="caseid">
            Case ID
        </label>
      <div id="created-on-hint" class="govuk-hint">
        Lorem Ipsum</div>
      </div>

      <!--COLUMN 13-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="claimid">
            Claim ID
        </label>
        <input class="govuk-input govuk-!-width-one-half" id="claimid" name="claimid" type="text">
      </div>

      <!--COLUMN 14-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="claimid">
            System
        </label>
        <div id="created-on-hint" class="govuk-hint">
          Lorem Ipsum</div>
      </div>


</div>

<div class="govuk-grid-column-full">

  <div class="govuk-form-group">
  <label class="govuk-label" for="more-detail">
    Add note
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"></textarea>
</div>

  <a href='create-new-case-confirmation'>
  <button class="govuk-button" data-module="govuk-button">
    Save and continue
  </button>
</a>
<p>  <a class="govuk-link" href="create-new-case">Cancel and clear fields</a></p>

</div>

      </div>
      </main>

  </div>

{% endblock %}
