{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">New case created</h1>

      </div>



      <h2 class="govuk-heading-m">What you can do next</h2>

      <nav role="navigation" aria-labelledby="what-you-can-do-next"
      <ul class="govuk-list">




        <li>
          <a class="govuk-link" href="/alpha/customers/cases/customer-all-cases">View customer cases list</a>
        </li>
        <li>
          <a class="govuk-link" href="/alpha/customers/tasks/customer-all-tasks">View customer tasks list</a>
        </li>
        <li>
          <a class="govuk-link" href="/alpha/customers/customer-details/customer-details-main">View customer details</a>
        </li>

        <li>
          <a class="govuk-link" href="create-new-case">Create new case</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
