{% extends "layout.html" %}

{% block pageTitle %}
  Cases unassigned
{% endblock %}


{% block content %}
<div class="govuk-width-container">

      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="case-queues">Cases</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="new-cases-unassigned">New cases to assign</a>
          </li>

        </ol>
      </div>
      <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div style="float: right; ">

          <div class="moj-button-menu govuk-!-margin-left-3"  id="query">
        <div class="moj-button-menu__wrapper">

          <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item  " data-module="govuk-button">
            Lorem Ipsum query
          </a>

          <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
            Lorem Ipsum query 2
          </a>

          <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
            Lorem Ipsum query 3
          </a>

        </div>
      </div>

        </div>



        <div style="float: right;">

        <div class="moj-button-menu" id="cases-list-menu">
            <div class="moj-button-menu__wrapper">

              <a href="search-cases" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
                Search cases
              </a>
              <a href="/alpha/camlite/cases/owner-cases" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
                Change owner
              </a>
              <a href="/alpha/camlite/cases/assigning-cases" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
                Change assign to
              </a>
              <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
                Export to excel
              </a>

              <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
                Select columns
              </a>

            </div>
          </div>

        </div>


      <h1 class="govuk-heading-l">
        New cases to assign
      </h1>

<form action="assigning-cases" method="post" class="form">

  <div class="govuk-inset-text">
  There are no more cases to assign.
</div>


</div>
    </div>
  </div>



{% endblock %}
