{% extends "layout.html" %}

{% block pageTitle %}
  Search cases
{% endblock %}


{% block content %}
<div class="govuk-width-container">

    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="cases">Cases</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="new-cases-unassigned">New cases to assign</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="search">Search cases</a>
        </li>
      </ol>
    </div>

      <main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
<div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l">
     Search cases
   </h1>
   </div>
    <div class="govuk-grid-column-one-half">


      <!--COLUMN 1-->
      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="created-on">
    <legend class="govuk-fieldset__legend">
      Created on
    </legend>
    <div id="created-on-hint" class="govuk-hint">
      For example, 27 3 2007
    </div>
    <div class="govuk-date-input" id="created-on">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="created-on-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="created-on-day" name="created-on-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="created-on-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="created-on-month" name="created-on-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="created-on-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="created-on-year" name="created-on-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
    </div>

  </fieldset>
</div>

  <!--COLUMN 2-->
  <div class="govuk-form-group">
    <label class="govuk-label" for="type">
        Type
    </label>
    <select class="govuk-select govuk-!-width-one-half" id="sort" name="sort">
    <option value="published">lorem ipsum</option>
    <option value="updated" selected>lorem ipsum</option>
    <option value="views">lorem ipsum</option>
    <option value="comments">lorem ipsum</option>
  </select>
  </div>

  <!--COLUMN 3-->
  <div class="govuk-form-group">
    <label class="govuk-label" for="sub-type">
        Sub-type
    </label>
    <select class="govuk-select govuk-!-width-one-half" id="sort" name="sort">
    <option value="published">lorem ipsum</option>
    <option value="updated" selected>lorem ipsum</option>
    <option value="views">lorem ipsum</option>
    <option value="comments">lorem ipsum</option>
  </select>
  </div>

  <!--COLUMN 4-->
  <div class="govuk-form-group">
    <label class="govuk-label" for="benefit">
        Benefit
    </label>
    <select class="govuk-select govuk-!-width-one-half" id="sort" name="sort">
    <option value="published">lorem ipsum</option>
    <option value="updated" selected>lorem ipsum</option>
    <option value="views">lorem ipsum</option>
    <option value="comments">lorem ipsum</option>
  </select>
  </div>

  <!--COLUMN 5-->
  <div class="govuk-form-group">
    <label class="govuk-label" for="status">
        Status
    </label>
    <select class="govuk-select govuk-!-width-one-half" id="sort" name="sort">
    <option value="published">lorem ipsum</option>
    <option value="updated" selected>lorem ipsum</option>
    <option value="views">lorem ipsum</option>
    <option value="comments">lorem ipsum</option>
  </select>
  </div>

  <!--COLUMN 6-->
  <div class="govuk-form-group">
    <label class="govuk-label" for="case-resolution">
        Case resolution
    </label>
    <select class="govuk-select govuk-!-width-one-half" id="sort" name="sort">
    <option value="published">lorem ipsum</option>
    <option value="updated" selected>lorem ipsum</option>
    <option value="views">lorem ipsum</option>
    <option value="comments">lorem ipsum</option>
  </select>
  </div>

  <!--COLUMN 7-->
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="case-resolution-selected-on">
  <legend class="govuk-fieldset__legend">
  Case resolution selected on
  </legend>
  <div id="created-on-hint" class="govuk-hint">
  For example, 27 3 2007
  </div>
  <div class="govuk-date-input" id="case-resolution-selected-on">
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="case-resolution-selected-on-day">
        Day
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="case-resolution-selected-on-day" name="case-resolution-selected-on-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="case-resolution-selected-on-month">
        Month
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="case-resolution-selected-on-month" name="case-resolution-selected-on-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="case-resolution-selected-on-year">
        Year
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="case-resolution-selected-on-year" name="case-resolution-selected-on-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
  </div>
  </div>

  </fieldset>
  </div>

  <!--COLUMN 8-->
  <div class="govuk-form-group">
    <label class="govuk-label" for="customer-name">
        Customer name
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="customer-surname" name="customer-surname" type="text">
  </div>

    </div>

    <div class="govuk-grid-column-one-half">




      <!--COLUMN 9-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="nino">
            NINO
        </label>
        <input class="govuk-input govuk-!-width-one-half" id="nino" name="nino" type="text">
      </div>

      <!--COLUMN 10-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="crn">
            CRN
        </label>
        <input class="govuk-input govuk-!-width-one-half" id="crn" name="crn" type="text">
      </div>

      <!--COLUMN 11-->
      <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="due-date">
      <legend class="govuk-fieldset__legend">
      Due date
      </legend>
      <div id="created-on-hint" class="govuk-hint">
      For example, 27 3 2007
      </div>
      <div class="govuk-date-input" id="due-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="due-date-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="due-date-day" name="due-date-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="due-date-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="due-date-month" name="due-date-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="due-date-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="due-date-year" name="due-date-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      </div>

      </fieldset>
      </div>

      <!--COLUMN 12-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="caseid">
            Case ID
        </label>
        <input class="govuk-input govuk-!-width-one-half" id="caseid" name="caseid" type="text">
      </div>

      <!--COLUMN 13-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="claimid">
            Claim ID
        </label>
        <input class="govuk-input govuk-!-width-one-half" id="claimid" name="claimid" type="text">
      </div>

      <!--COLUMN 14-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="claimid">
            Owner ID
        </label>
        <input class="govuk-input govuk-!-width-one-half" id="claimid" name="claimid" type="text">
      </div>

      <!--COLUMN 15-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="claimid">
            Owner name
        </label>
        <input class="govuk-input govuk-!-width-one-half" id="claimid" name="claimid" type="text">
      </div>

      <!--COLUMN 16-->
      <div class="govuk-form-group">
        <label class="govuk-label" for="claimid">
            Urgent
        </label>
        <dd class="govuk-summary-list__value">
          <td class="govuk-table__cell"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" >
          <label class="govuk-label govuk-checkboxes__label" for="waste">

          </label>
        </div></td>
        </dd>
      </div>
</div>

<div class="govuk-grid-column-full">

  <div class="govuk-button-group govuk-!-margin-top-6">
      <a href='/alpha/camlite/cases/search-cases-results'>
    <button class="govuk-button" data-module="govuk-button">
      Search
    </button></a>

      <a href='/alpha/every-user-general/save-as-query'>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Save as query
    </button></a>
  </div>

  <p><a class="govuk-link" href="search-cases">Clear fields</a></p>
</div>


      </div>
      </main>

  </div>

{% endblock %}
