{% extends "layout.html" %}

{% block pageTitle %}
  Cases unassigned
{% endblock %}



{% block content %}
<div class="govuk-width-container">

    <div class="govuk-breadcrumbs">

      {% if data['login'] === 'teamleader' %}
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="task-queues">Tasks</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="teams-all-tasks">Team's all tasks</a>
        </li>

      </ol>

      {% elseif data['login'] === 'manager' %}
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="task-queues">Tasks</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="teams-all-tasks">Team's all tasks</a>
        </li>

      </ol>
{% else %}
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="task-queues">Tasks</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="teams-all-tasks">My all tasks</a>
  </li>

</ol>
      {% endif %}
    </div>
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
          You closed [number] cases
          </h3>
              </div>
      </div>
      <div style="float: right; ">

        <div class="moj-button-menu govuk-!-margin-left-3"  id="query">
      <div class="moj-button-menu__wrapper">

        <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item  " data-module="govuk-button">
          Lorem Ipsum query
        </a>

        <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
          Lorem Ipsum query 2
        </a>

        <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
          Lorem Ipsum query 3
        </a>

      </div>
      </div>

      </div>



      <div style="float: right;">

      <div class="moj-button-menu" id="cases-list-menu">
          <div class="moj-button-menu__wrapper">

            <a href="/alpha/customers/tasks/search-tasks" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
              Search tasks
            </a>
            <a href="/alpha/camlite/tasks/owner-tasks" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
              Change owner
            </a>
            <a href="/alpha/camlite/tasks/assigning-tasks" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
              Change assign to
            </a>
            <a href="/alpha/camlite/tasks/close-bulk-task-check" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
              Close tasks
            </a>
            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
              Export to excel
            </a>

            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
              Select columns
            </a>

          </div>
        </div>

      </div>



      {% if data['login'] === 'teamleader' %}

            <h1 class="govuk-heading-l">
              Team's all tasks
            </h1>
        {% elseif data['login'] === 'manager' %}
        <h1 class="govuk-heading-l">
          Team's all tasks
        </h1>
      {% else %}
      <h1 class="govuk-heading-l">
        My tasks
      </h1>
      {% endif %}

      <p class="govuk-body govuk-!-margin-bottom-7">Total: 135 tasks </p>



<form action="assigning-tasks" method="post" class="form">

  <table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
     <thead class="govuk-table__head">
       <tr class="govuk-table__row">
           <th class="govuk-table__header" scope="col" id="select-all">
             <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
          <input type="checkbox" class="govuk-checkboxes__input" id="checkboxes-all">
               <label class="moj-multi-select__toggle-label" for="checkboxes-all">
                 <span class="govuk-visually-hidden">Select all</span>
               </label>
             </div>
           </th>
           <th class="govuk-table__header" scope="col">Task ID</th>
           <th class="govuk-table__header" scope="col">Created on</th>
           <th class="govuk-table__header" scope="col">Type</th>
           <th class="govuk-table__header" scope="col">Sub-type</th>
           <th class="govuk-table__header" scope="col">Status</th>
           <th class="govuk-table__header" scope="col">Customer name</th>
           <th class="govuk-table__header" scope="col">National Insurance Number</th>
           <th class="govuk-table__header" scope="col">CRN</th>

           <th class="govuk-table__header" scope="col">Assigned to</th>
           <th class="govuk-table__header" scope="col">Task SLA/ Doc BF</th>
           <th class="govuk-table__header" scope="col">Start task from</th>
           <th class="govuk-table__header" scope="col">Clear task by</th>
           <th class="govuk-table__header" scope="col">Closed on</th>
           <th class="govuk-table__header" scope="col">Owner ID</th>
           <th class="govuk-table__header" scope="col">Owner name</th>
           <th class="govuk-table__header" scope="col">Claim ID</th>
           <th class="govuk-table__header" scope="col">Case ID</th>
            <th class="govuk-table__header" scope="col">Urgent</th>
       </tr>
     </thead>
     <tbody class="govuk-table__body">
       <tr class="govuk-table__row govuk-table__row--selected">
         <td class="govuk-table__cell">
           <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
             <input type="checkbox" class="govuk-checkboxes__input" id="row-1">
             <label class="govuk-label govuk-checkboxes__label" for="row-1">
               <span class="govuk-visually-hidden">Select row 1</span>
             </label>
           </div>
         </td>
            <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell"><a href="/alpha/customers/tasks/task-details" aria-describedby="case-details">1 Feb 2021</a></td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <th scope="row" class="govuk-table__header"><strong class="govuk-tag  govuk-tag--blue" id="unassigned">Unassigned</strong></th>

         <td class="govuk-table__cell"><a href="/alpha/customers/customer-details/customer-details-main" aria-describedby="claimant-detail-srti">John Doe</a></td>
         <td class="govuk-table__cell">RN 00 01 23 A</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem Ipsum</td>
            <td class="govuk-table__cell">Lorem ipsum</td>

       </tr>


       <tr class="govuk-table__row">
         <td class="govuk-table__cell">
           <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
             <input type="checkbox" class="govuk-checkboxes__input" id="row-2">
             <label class="govuk-label govuk-checkboxes__label" for="row-2">
               <span class="govuk-visually-hidden">Select row 2</span>
             </label>
           </div>
         </td>
            <td class="govuk-table__cell">Lorem ipsum</td>
<td class="govuk-table__cell"><a href="case-details" aria-describedby="case-details">10 Feb 2021</a></td>

         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <th scope="row" class="govuk-table__header"><strong class="govuk-tag  govuk-tag--blue" id="unassigned">Unassigned</strong></th>

         <td class="govuk-table__cell"><a href="claimant-detail-srti" aria-describedby="claimant-detail-srti">Janette Rafe</a></td>
         <td class="govuk-table__cell">RN 00 11 23 A</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem Ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem Ipsum</td>
            <td class="govuk-table__cell">Lorem ipsum</td>

       </tr>
       <tr class="govuk-table__row">
         <td class="govuk-table__cell">
           <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
             <input type="checkbox" class="govuk-checkboxes__input" id="row-3">
             <label class="govuk-label govuk-checkboxes__label" for="row-3">
               <span class="govuk-visually-hidden">Select row 3</span>
             </label>
           </div>
         </td>
            <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell"><a href="case-details" aria-describedby="case-details">12 Mar 2021</a></td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <th scope="row" class="govuk-table__header"><strong class="govuk-tag  govuk-tag--yellow" id="awaiting decision">Awaiting decision</strong></th>

         <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Noelle Carmel</a></td>
         <td class="govuk-table__cell">RN 00 04 26 D</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem Ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem Ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem Ipsum</td>
            <td class="govuk-table__cell">Lorem ipsum</td>

       </tr>
       <tr class="govuk-table__row">
         <td class="govuk-table__cell">
           <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
             <input type="checkbox" class="govuk-checkboxes__input" id="row-4">
             <label class="govuk-label govuk-checkboxes__label" for="row-4">
               <span class="govuk-visually-hidden">Select row 4</span>
             </label>
           </div>
         </td>
            <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell"><a href="case-details" aria-describedby="case-details">6 May 2021</a></td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <th scope="row" class="govuk-table__header"><strong class="govuk-tag  govuk-tag--grey" id="unassigned">Closed</strong></th>

         <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail-report">Sylevette Colwyn</a></td>
         <td class="govuk-table__cell">RN 00 01 11 N</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem Ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem Ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem Ipsum</td>
            <td class="govuk-table__cell">Lorem ipsum</td>

       </tr>
       <tr class="govuk-table__row">
         <td class="govuk-table__cell">
           <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
             <input type="checkbox" class="govuk-checkboxes__input" id="row-5">
             <label class="govuk-label govuk-checkboxes__label" for="row-5">
               <span class="govuk-visually-hidden">Select row 5</span>
             </label>
           </div>
         </td>
            <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell"><a href="case-details" aria-describedby="case-details">21 Feb 2021</a></td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <th scope="row" class="govuk-table__header"><strong class="govuk-tag  govuk-tag--green" id="unassigned">Open</strong></th>

         <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Susanna Shaye</a></td>
         <td class="govuk-table__cell">RN 00 11 23 B</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem Ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem Ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem Ipsum</td>
            <td class="govuk-table__cell">Lorem ipsum</td>
       </tr>
       <tr class="govuk-table__row">
         <td class="govuk-table__cell">
           <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
             <input type="checkbox" class="govuk-checkboxes__input" id="row-6">
             <label class="govuk-label govuk-checkboxes__label" for="row-6">
               <span class="govuk-visually-hidden">Select row 6</span>
             </label>
           </div>
         </td>
            <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell"><a href="case-details" aria-describedby="case-details">4 Apr 2021</a></td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <th scope="row" class="govuk-table__header"><strong class="govuk-tag  govuk-tag--red" id="unassigned">Awaiting evidence</strong></th>

         <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Heather Sand</a></td>
         <td class="govuk-table__cell">RN 00 01 11 A</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem Ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem Ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem Ipsum</td>
            <td class="govuk-table__cell">Lorem ipsum</td>
       </tr>

       <tr class="govuk-table__row">
         <td class="govuk-table__cell">
           <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
             <input type="checkbox" class="govuk-checkboxes__input" id="row-7">
             <label class="govuk-label govuk-checkboxes__label" for="row-7">
               <span class="govuk-visually-hidden">Select row 7</span>
             </label>
           </div>
         </td>
            <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell"><a href="case-details" aria-describedby="case-details">4 Apr 2021</a></td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <th scope="row" class="govuk-table__header"><strong class="govuk-tag  govuk-tag--blue" id="unassigned">Unassigned</strong></th>

         <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Heather Sand</a></td>
         <td class="govuk-table__cell">RN 00 01 11 A</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem Ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem Ipsum</td>
         <td class="govuk-table__cell">Lorem ipsum</td>
         <td class="govuk-table__cell">Lorem Ipsum</td>
            <td class="govuk-table__cell">Lorem ipsum</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
              <input type="checkbox" class="govuk-checkboxes__input" id="row-7">
              <label class="govuk-label govuk-checkboxes__label" for="row-7">
                <span class="govuk-visually-hidden">Select row 7</span>
              </label>
            </div>
          </td>
             <td class="govuk-table__cell">Lorem ipsum</td>
          <td class="govuk-table__cell"><a href="case-details" aria-describedby="case-details">2 Jun 2021</a></td>
          <td class="govuk-table__cell">Lorem ipsum</td>
          <td class="govuk-table__cell">Lorem ipsum</td>
          <th scope="row" class="govuk-table__header"><strong class="govuk-tag  govuk-tag--blue" id="unassigned">Unassigned</strong></th>

          <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Susan Sand</a></td>
          <td class="govuk-table__cell">RN 00 01 11 A</td>
          <td class="govuk-table__cell">Lorem ipsum</td>
          <td class="govuk-table__cell">Lorem ipsum</td>
          <td class="govuk-table__cell">Lorem ipsum</td>
          <td class="govuk-table__cell">Lorem ipsum</td>
          <td class="govuk-table__cell">Lorem ipsum</td>
          <td class="govuk-table__cell">Lorem Ipsum</td>
          <td class="govuk-table__cell">Lorem ipsum</td>
          <td class="govuk-table__cell">Lorem Ipsum</td>
          <td class="govuk-table__cell">Lorem ipsum</td>
          <td class="govuk-table__cell">Lorem Ipsum</td>
             <td class="govuk-table__cell">Lorem ipsum</td>
         </tr>
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">
             <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
               <input type="checkbox" class="govuk-checkboxes__input" id="row-7">
               <label class="govuk-label govuk-checkboxes__label" for="row-7">
                 <span class="govuk-visually-hidden">Select row 7</span>
               </label>
             </div>
           </td>
              <td class="govuk-table__cell">Lorem ipsum</td>
           <td class="govuk-table__cell"><a href="case-details" aria-describedby="case-details">17 Oct 2021</a></td>
           <td class="govuk-table__cell">Lorem ipsum</td>
           <td class="govuk-table__cell">Lorem ipsum</td>
           <th scope="row" class="govuk-table__header"><strong class="govuk-tag  govuk-tag--blue" id="unassigned">Unassigned</strong></th>

           <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Heather Brown</a></td>
           <td class="govuk-table__cell">RN 00 01 11 A</td>
           <td class="govuk-table__cell">Lorem ipsum</td>
           <td class="govuk-table__cell">Lorem ipsum</td>
           <td class="govuk-table__cell">Lorem ipsum</td>
           <td class="govuk-table__cell">Lorem ipsum</td>
           <td class="govuk-table__cell">Lorem ipsum</td>
           <td class="govuk-table__cell">Lorem Ipsum</td>
           <td class="govuk-table__cell">Lorem ipsum</td>
           <td class="govuk-table__cell">Lorem Ipsum</td>
           <td class="govuk-table__cell">Lorem ipsum</td>
           <td class="govuk-table__cell">Lorem Ipsum</td>
              <td class="govuk-table__cell">Lorem ipsum</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                <input type="checkbox" class="govuk-checkboxes__input" id="row-7">
                <label class="govuk-label govuk-checkboxes__label" for="row-7">
                  <span class="govuk-visually-hidden">Select row 7</span>
                </label>
              </div>
            </td>
               <td class="govuk-table__cell">Lorem ipsum</td>
            <td class="govuk-table__cell"><a href="case-details" aria-describedby="case-details">24 Apr 2021</a></td>
            <td class="govuk-table__cell">Lorem ipsum</td>
            <td class="govuk-table__cell">Lorem ipsum</td>
            <th scope="row" class="govuk-table__header"><strong class="govuk-tag  govuk-tag--blue" id="unassigned">Unassigned</strong></th>

            <td class="govuk-table__cell"><a href="claimant-detail" aria-describedby="claimant-detail">Jonathan Sand</a></td>
            <td class="govuk-table__cell">RN 00 01 11 A</td>
            <td class="govuk-table__cell">Lorem ipsum</td>
            <td class="govuk-table__cell">Lorem ipsum</td>
            <td class="govuk-table__cell">Lorem ipsum</td>
            <td class="govuk-table__cell">Lorem ipsum</td>
            <td class="govuk-table__cell">Lorem ipsum</td>
            <td class="govuk-table__cell">Lorem Ipsum</td>
            <td class="govuk-table__cell">Lorem ipsum</td>
            <td class="govuk-table__cell">Lorem Ipsum</td>
            <td class="govuk-table__cell">Lorem ipsum</td>
            <td class="govuk-table__cell">Lorem Ipsum</td>
               <td class="govuk-table__cell">Lorem ipsum</td>
           </tr>



  </tbody>
</table>
<div>
<nav class="moj-pagination" id="pagination-label">

  <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

  <ul class="moj-pagination__list">
    <li class="moj-pagination__item  moj-pagination__item--prev">
      <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
    </li>

  <li class="moj-pagination__item moj-pagination__item--active">1</li>
    <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=1">2</a></li>



    <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3">3</a></li>

    <li class="moj-pagination__item moj-pagination__item--dots">...</li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=5">5</a></li>

    <li class="moj-pagination__item  moj-pagination__item--next">
      <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
    </li>
  </ul>
  <p class="moj-pagination__results">Showing <b>10</b> to <b>20</b> of <b>30</b> pages</p>
</nav>
</div>

    </div>
  </div>
  </div>



{% endblock %}
