{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">You changed cases owner to Lorem ipsum</h1>

      </div>



      <h2 class="govuk-heading-m">What you can do next</h2>
<p><a href="teams-all-cases">View team's all cases</a> </p>
      <p><a href="new-cases-unassigned">Continue assigning new cases</a> </p>
      <p><a href="/alpha/teamleader/tasks/new-tasks-unassigned">Continue assigning new tasks</a> </p>

    </div>
  </div>

{% endblock %}
