{% extends "layout.html" %}

{% block pageTitle %}
  Task queues
{% endblock %}



{% block content %}

<div class="govuk-width-container">


<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Task queues
      </h1>

      {% if data['login'] === 'teamleader' %}



      <p class="govuk-body govuk-!-margin-bottom-7">Select a queue to view tasks.</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h2 class="govuk-heading-m">
                     My tasks: 15 tasks
                </h2>


                <ul class="govuk-list">
                  <ul class="govuk-list">

                  <li>
                      <a class="govuk-link" href="agent-tasks-queue" aria-describedby="my-account-details">
                    Outstanding tasks (5)
                    </a>
                </li>

                <li>
                    <a class="govuk-link" href="closed-tasks" aria-describedby="my-account-details">
                  Closed tasks (5)
                  </a>
              </li>


                </ul>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h2 class="govuk-heading-m">
                  My team's queues: 135 tasks
                </h2>
                <ul class="govuk-list">
                  <ul class="govuk-list">
                    <li>

                        <a class="govuk-link" href="teams-all-tasks" aria-describedby="change-position">
                      All tasks (135)
                    </a>
                </li>
                <li>

                  <a href="" aria-describedby="company-information-status">
                    Tasks returned by agents (12)
                  </a>
            </li>

            <br>
                            <li>

                                <a class="govuk-link" href="teams-all-cases" aria-describedby="change-position">
                              Outstanding (105)
                            </a>
                        </li>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>
                                    <a class="govuk-link" href="teams-all-cases" aria-describedby="change-position">
                                New tasks (10)
                              </a>
                              </li>
                              <li>
                              <a href="new-tasks-unassigned" aria-describedby="company-information-status">
                                Urgent tasks (10)
                              </a>
                        </li>
                        <li>

                          <a href="" aria-describedby="company-information-status">
                            Assigned tasks (125)
                          </a>
                    </li>
                    </ul>








      <li>
          <a class="govuk-link" href="closed-tasks" aria-describedby="my-account-details">
        Closed tasks (35)
        </a>
      </li>


                </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h2 class="govuk-heading-m">
                Agents' queues: 35 tasks
                </h2>
                <ul class="govuk-list">
                  <li>

                    <a href="agent-tasks-queue" aria-describedby="agent-name">
                      David Francis (12)</a>
                  </li>
                  <li>

                    <a href="agent-tasks-queue" aria-describedby="agent-name">
                    Paul Farmer (17)</a>
                  </li>
                  <li>

                    <a href="agent-tasks-queue" aria-describedby="agent-name">
                      Rita Patel (6)</a>
                  </li>
                  </ul>
    {% elseif data['login'] === 'manager' %}

    <p class="govuk-body govuk-!-margin-bottom-7">Select a queue to view tasks.</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <h2 class="govuk-heading-m">
                   My tasks: 15 tasks
              </h2>


              <ul class="govuk-list">
                <ul class="govuk-list">

                <li>
                    <a class="govuk-link" href="agent-tasks-queue" aria-describedby="my-account-details">
                  Outstanding tasks (5)
                  </a>
              </li>

              <li>
                  <a class="govuk-link" href="closed-tasks" aria-describedby="my-account-details">
                Closed tasks (5)
                </a>
            </li>


              </ul>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <h2 class="govuk-heading-m">
                Team's queues: 1350 tasks
              </h2>
              <ul class="govuk-list">
                <ul class="govuk-list">
                  <li>

                      <a class="govuk-link" href="teams-all-tasks" aria-describedby="change-position">
                    All tasks (1350)
                  </a>
              </li>
              <li>
                  <a class="govuk-link" href="manager-team-tasks" aria-describedby="my-account-details">
                Team lorem ipsum tasks (12)
                </a>
              </li>
              <li>
                  <a class="govuk-link" href="manager-team-tasks" aria-describedby="my-account-details">
                Team lorem ipsum tasks (120)
                </a>
              </li>
              <li>
                  <a class="govuk-link" href="manager-team-tasks" aria-describedby="my-account-details">
                Team lorem ipsum tasks (205)
                </a>
              </li>
              <li>
                  <a class="govuk-link" href="manager-team-tasks" aria-describedby="my-account-details">
                Team lorem ipsum tasks (320)
                </a>
              </li>
              <li>
                  <a class="govuk-link" href="manager-team-tasks" aria-describedby="my-account-details">
                Team lorem ipsum tasks (650)
                </a>
              </li>


    <li>
        <a class="govuk-link" href="closed-tasks" aria-describedby="my-account-details">
      Closed tasks (35)
      </a>
    </li>


              </ul>





    {% else %}

     <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <h2 class="govuk-heading-m">
                   My tasks: 35 tasks
              </h2>


              <ul class="govuk-list">
                <ul class="govuk-list">
                  <li>
                      <a class="govuk-link" href="teams-all-tasks" aria-describedby="my-all-tasks">
                    All tasks (10)
                    </a>
                </li>
                <br>
                <li>
                    <a class="govuk-link" href="outstanding-tasks-queue" aria-describedby="utstanding-tasks-queue">
                  Outstanding tasks (5)
                  </a>
                </li>

<ul class="govuk-list govuk-list--bullet">
                <li>
                    <a class="govuk-link" href="my-new-tasks" aria-describedby="my-new-tasks">
                  New tasks (5)
                  </a>
              </li>
              <li>
                  <a class="govuk-link" href="urgent-tasks-queue" aria-describedby="urgent-tasks-queue">
                Urgent tasks (5)
                </a>
            </li>

</ul>
              <li>
                  <a class="govuk-link" href="closed-tasks" aria-describedby="closed-tasks-queue">
                Closed tasks (5)
                </a>
            </li>


              </ul>






    {% endif %}

          </div>
          <div class="govuk-grid-column-one-third">

            <div style="float: right; ">

              <div class="moj-button-menu govuk-!-margin-left-3"  id="query-primary">
            <div class="moj-button-menu__wrapper">

              <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item  " data-module="govuk-button">
                Lorem Ipsum query
              </a>

              <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
                Lorem Ipsum query 2
              </a>

              <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
                Lorem Ipsum query 3
              </a>

            </div>
            </div>

            </div>





          </div>

      </div>
      </div>





{% endblock %}
